$burnt-sienna-50: #fef4ee;
$burnt-sienna-100: #fce5d8;
$burnt-sienna-200: #f9c7af;
$burnt-sienna-300: #f4a07d;
$burnt-sienna-400: #ee6940;
$burnt-sienna-500: #ea4c25;
$burnt-sienna-600: #dc321a;
$burnt-sienna-700: #b62418;
$burnt-sienna-800: #911f1b;
$burnt-sienna-900: #751c19;
$burnt-sienna-950: #3f0b0b;
$tan-hide-50: #fef6ee;
$tan-hide-100: #feebd6;
$tan-hide-200: #fbd3ad;
$tan-hide-300: #f9b378;
$tan-hide-400: #f69453;
$tan-hide-500: #f2691d;
$tan-hide-600: #e34f13;
$tan-hide-700: #bc3a12;
$tan-hide-800: #962f16;
$tan-hide-900: #792a15;
$tan-hide-950: #411209;
$asparagus-50: #f4f9ec;
$asparagus-100: #e7f1d6;
$asparagus-200: #d0e4b2;
$asparagus-300: #b2d284;
$asparagus-400: #94be5d;
$asparagus-500: #739f3d;
$asparagus-600: #5b812f;
$asparagus-700: #476427;
$asparagus-800: #3b5024;
$asparagus-900: #334522;
$asparagus-950: #19250e;

$text-dark: $burnt-sienna-950;

$default-inline-padding: 10rem;
$medium-inline-padding: 4rem;
$small-inline-padding: 2rem;

$screen-size-small: 600px;
$screen-size-medium: 1200px;
