@import "variables";
@import "fonts";
@import "reset";

html {
  scroll-padding-top: 8rem;
}

body {
  font-family: Fira Sans, sans-serif;
  color: $burnt-sienna-950;
  background-color: $burnt-sienna-50;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {

  font-size: 1.5rem;
  line-height: 2.1rem;

  @media screen and (max-width: $screen-size-medium) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  @media screen and (max-width: $screen-size-small) {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  ::selection {
    color: $burnt-sienna-100;
    background: $asparagus-400;

  }

  ::-moz-selection {
    color: $burnt-sienna-100;
    background: $asparagus-400;
  }

  main {
    margin: 2rem $default-inline-padding 8rem;

    @media only screen and (max-width: $screen-size-medium) {
      margin-inline: $medium-inline-padding;
    }
    @media screen and (max-width: $screen-size-small) {
      margin-inline: $small-inline-padding;
    }
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 5rem;
    line-height: 5rem;
    font-family: "Patrick Hand", sans-serif;
    color: $burnt-sienna-700;

    @media screen and (max-width: $screen-size-small) {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
  }

  h2 {
    margin-bottom: 0.5rem;
    font-size: 4rem;
    line-height: 4rem;
    font-family: "Patrick Hand", sans-serif;
    color: $tan-hide-400;

    @media screen and (max-width: $screen-size-small) {
      font-size: 2.3rem;
      line-height: 2.3rem;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 2.3rem;
    color: $asparagus-600;

    @media screen and (max-width: $screen-size-small) {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  p {
    font-size: inherit;
    line-height: inherit;
    margin-block: 1rem;

    @supports (text-wrap: pretty) {
      text-wrap: pretty;
    }
  }

  a {
    color: $burnt-sienna-800;
  }

  i, em {
    font-weight: 200;
    font-style: italic;
  }

  b, strong {
    font-weight: 600;
    color: $asparagus-600;
  }
}

/* Classes */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.5rem;
}

.button--text {
  display: inline;
  padding: 0;
  border: none;

  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: 500;

  background: transparent;
  color: $asparagus-600;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $asparagus-700;
  }
}